*{margin: 0px; padding: 0px}


@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Viaoda+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Satisfy&family=Viaoda+Libre&display=swap');

body {
    font-family: 'Viaoda Libre', sans-serif; background-color: white
}

.header{
    background-color: #d5e6ea; 
}

.navbar-brand{
    font-family: 'Viaoda Libre', serif;
    font-size: 50px;
    text-decoration: none;
    margin-left: 40px;
    padding: 5px;
;


}
.navbar-brand img{
    width: 20%;
    text-decoration: none;
    padding: 10px;

}
.navbar-nav{
    font-family: 'Viaoda Libre', sans-serif;
    font-size: 70px;
    text-decoration: none;

}
    


}
 .carousel-item img { width: 50%


     }
.container{width: 100%;}


   h1  { 
   	font-size:30px; 
    margin: auto;
    color:#bc312f;
    padding-top: 20px
    
    }

 .imgbio {
    width: 100%;
    transition: 0.5s;
}

.imgbio:hover 
{
    transform: scale(110%);

}

.discurso{
    width: 100%;
    transition: 0.5s;
}

.discurso:hover 
{
    transform: scale(110%);

}

.cv {
    color: black;
    text-align: center; 
    border-bottom:3px ;
    font-size: 20px; 
    padding: 15px; 
    background-color: #8eb5be;
    border-radius: 10px;
    width: 20%;
    margin-left: 50%;
    margin-top: 25px
    }
      }
.cv:hover {
      
      background-color: white;
      color:#8eb5be 

}

h4 {
    color: black;
    text-align: center; 
    border-bottom:3px ;
    font-size: 20px; 
    padding: 15px; 
    background-color: #8eb5be;
    border-radius: 10px;
    width: 20%;
    margin-left: 50%;
    
    }
h4:hover {
      
      background-color: white;
      color:#8eb5be 

}


.bio {
 animation-name: fotobio;
 animation-duration: 3s;
 animation-delay: 0s;
}

.padre {
 animation-name: fotobio;
 animation-duration: 3s;
 animation-delay: 0s;
}
.hermano {
 animation-name: fotobio;
 animation-duration: 6s;
 animation-delay: 0s;
}

.fotos{

 }


 .texto  { 
 animation-name: fotobio;
 animation-duration: 3s;
 animation-delay: 0s;
 }


.form { 
    background-color: #d5e6ea
 }


footer { 
	 padding: 3px; 
	 text-align: center;
	 background: linear-gradient(180deg, #8eb5be 0%, #d5e6ea 100%); 
	 font-family: "Viaoda Libre"
	 
	  }


footer p { 
	
	 margin-top:15px;
	  }


@keyframes fotobio{
    0%{
        transform: translateX(500px);
        
    }
    50%{
        transform: translateX(-50px);
    }
    100%{
        transform: translateX(0px);
    }


@media screen and (min-width: 561px) and (max-width: 960px) {
    .bio img{ 
    width: 100%
      }


}
@media  (max-width: 560px) {
    
.imgbio{
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 100%;

}
}
















   